body {
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}